{% extends 'bases/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- contact Us -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="main-header">
                <h2 class="display-4 mb-3">Contact Us Today</h2>
                <p>For Enquiries
                </p>
            </div>

            <!-- <div class="col-md-6 col-sm-12">
                <form method="post" data-form-title="Contact Us">
                    <input type="hidden" data-form-email="true">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" required="" placeholder="Name*"
                            data-form-field="Name">
                    </div> <br>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" required="" placeholder="Email*"
                            data-form-field="Email">
                    </div><br>
                    <div class="form-group">
                        <input type="tel" class="form-control" name="phone" placeholder="Phone" data-form-field="Phone">
                    </div><br>
                    <div class="form-group">
                        <textarea class="form-control" name="message" placeholder="Message" rows="7"
                            data-form-field="Message"></textarea>
                    </div><br>
                    <div>
                        <button type="submit" class="btn btn-header mb-5">Contact Us</button>
                    </div>
                </form>
            </div> -->
                <div class="col-md-6 col-sm-12">
                    <form method='POST' data-form-title="Contact Us">
                        {% csrf_token %}
                        <input type="hidden" data-form-email="true">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" required="" placeholder="Name*"
                                data-form-field="Name">
                        </div> <br>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" required="" placeholder="Email*"
                                data-form-field="Email">
                        </div><br>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="phone" placeholder="Phone"
                                data-form-field="Phone">
                        </div><br>
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message" rows="7"
                                data-form-field="Message"></textarea>
                        </div><br>
                        <div>
                            <button type="submit" class="btn btn-header mb-5">Contact Us</button>
                        </div>
                    </form>
                </div>

            <div class="col-md-6 col-sm-12">
                <h4>Sports Club</h4>
                <p>Christ University Road,
                    <br>Lavasa,
                    <br>India - 412112
                </p>

                <!-- <h4>Office Address - Pune Co</h4>
                    <p>123, Street Name,
                        <br>City name,
                        <br>Country - Zip Code</p> -->
                <hr>
                <h4>Talk To Us Today</h4>
                <p>+01-123-456-7890<br>+01-789-456-7890</p>
            </div>
        </div>
    </div>
</section>
</body>
{% endblock content %}
</html>